.mainTitle {
    margin-bottom: 20px;
    font-size: 40px;
    text-align: center;
}

.friends {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0px auto;
    max-width: 250px;
    background-color: rgb(255, 255, 255);
}

.friendsWrap:hover {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
    transform: scale(1.05);
}

.title {
    padding: 30px;
    margin: 0;
    color: grey;
    text-align: center;
    text-transform: uppercase;
}

/* FriendListItem */
.item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    width: 100%;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 14%) 0px 1px 1px, rgb(0 0 0 / 20%) 0px 2px 1px;
    border-radius: 0px 0px 4px 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
}

.item:hover {
    transform: scale(1.05);
}

.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.false {
    background-color: red;
}

.true {
    background-color: green;

}

.avatar {
    display: block;
    max-width: 100%;
    height: auto;
}